**/node_modules
yarn.lock
package-lock.json

# private keys
.env

# keep all dist files
!dist
!dist/*
!dist/**/*
dist/**/*.json

# yarn v2
.yarn/**/*.tgz
.yarn/**/*.gz
.yarn/**/*.zip
.yarn/version*
.yarn/unplugged
.yarn/cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn-metadata.json

# Temp
tmp

/docs
/coverage

# es2016
/src-old

# ignore yarn config in pre-release
/.yarn*
